* {
    background-color:black;
    font-family: 'Ubuntu', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#navbar {
    height: 80px;
    width: 1251px;
    padding: 0px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    background-color:#0c0ce2;
    margin-bottom: 130px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 100;
}

#navbar>div:nth-child(1) {
    height:auto;
    width: 40%;
    border: 1px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 50px;
    position: relative;
    background-color:#0c0ce2;
    

}

#navbar>div:nth-child(1)>div {
    background-color:#0c0ce2;
}

#navbar>div:nth-child(2) {
    height:auto;
    width:40%;
    padding: 7px;
    border: 1px;
    display: flex;
    justify-content: space-evenly;
    margin-right: 100px;
    position: relative;
    background-color:#0c0ce2;
}

#navbar>div:nth-child(2)>div {
    display: flex;
    width: 14%;
    align-items: center;
    border: 1px;
    justify-content: space-evenly;
    background-color:#0c0ce2;
}

#navbar>div:nth-child(2)>div>p:hover {
    background-color: rgb(243, 169, 19);
    padding: 9px 13px;
    border-radius: 8px;
}
#navbar>div:nth-child(2)>div>p {
    font-weight: bold;
    background-color:#0c0ce2;
}

#navbar h1 {
    background-color:#0c0ce2;
}

#resume {
    text-decoration: none;
    color:black;
    font-weight: 700;
    background-color: #0c0ce2;
    color: white;
}

#about {
    height: 500px;
    width: auto;
    border: 1px;
    margin-top: 85px;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    padding: 30px;

    position: relative;

}

#about>div {
    border: 1px;
}

#about>div:first-child {
    padding-left: 26%;
    padding-top: 11%;
}

#about>div:first-child>button {
    background-color: #0c0ce2;
    height: 40px;
    width: 110px;
    border-radius: 6px;
    border: 1px;
    font-size: 17px;
    letter-spacing: 1.5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 10px;
}

#name {
    font-size: 55px;
    font-weight: 900;
    margin-top: -5px;
    margin-bottom: -5px;
}

#title {
    color: rgb(243, 169, 19);
    font-weight: bold;
   
}

#pic {
    height:90%;
    width: 90%;
    background-color: #0c0ce2;
    border-radius: 50%;
   
}

#pic>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #0c0ce2;
}
#about>div:nth-child(2) {
    display: flex;
    align-items: center;
    margin-left: 65px;
}

#picborder {

    height:310px;
    width: 310px;
    background-color: black;
    border-radius: 50%;
    padding-left: 30px;
    padding-top: 30px;
    border:8px solid rgb(243, 169, 19);
    margin-bottom: 75px;
    
}

h1,h2 {
    color: white;
}

#icon {
    width:30px;
    cursor:pointer;
}

#icon2 {
    width:48px;
    height:48px;
}

#icon3 {
    width:42px;
    height:43px;
}

#icon4 {
    margin-top: 6px;
    width:43px;
    height:48px;
}

#about>div:first-child>div {
    display: flex;
    width:30%;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;

}

#aboutme {
    height: 270px;
    width: 100%;
    background-color:rgb(243, 169, 19) ;
    position: relative;
    padding-top: 5px;
}

#aboutme>h2 {
    color:black;
    text-decoration: underline;
    position: realtive;
    background-color: rgb(243, 169, 19);
    padding-top: 35px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: -5px;
}

#aboutme>div {
    background-color: rgb(243, 169, 19);
    padding-top: -30px;
    width:80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

#aboutme>div>p {
    background-color: rgb(243, 169, 19);
    padding-top: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    width:70%;

}

#skills {
    height: 600px;
    width: 100%;
    position: relative;
    padding-left: 15px;
}

#skills>h2 {
    color:white;
    text-decoration: underline;
    position: realtive;
    padding-top: 35px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 70px;
}

#row1{
    width:90%;
    margin: auto;
    margin-top: 50px;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 230px;
    gap:25px;
    
}

#row2 {
    width:76%;
    margin: auto;
    margin-top: 15px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 230px;
    gap:25px;
}

#skills img {
    width:72%;
    height:72%;
    border-radius: 20px;
    border:4px solid #2626fb;
    padding: 1.5px;
}




